@import "../../assets/styles/variables";
.overlay {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: $secondary-color;
    color: $text-color;
    padding: 20px;
    display: flex;

    > img {
    }

    > .infomation {
        li {
            list-style-type: circle;
            list-style-position: inside;
        }
    }
}
