@import "../../assets/styles/variables";

.searchBar{
    display: flex;
    flex-direction: column;
    margin: $base-margin;
    border: 2px solid black;

    .input {
        margin: 5px 10px;
    } 
}