.searchBar{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid black;
    // overflow-y: auto;
    // overflow-x: hidden;

    .input {
        margin: 5px 10px;
    } 
}