@import "../../assets/styles/variables";

.header {
    margin: $base-margin;
    display: flex;
    justify-content: space-between;
    
    > a {
        text-decoration: none;
        color: inherit;
    }

    .links{
        display: flex;
        
        p {
            margin: $base-margin;
        }

        .faIcon{ 
            font-size: $text-size * 2;
            cursor: pointer;
        }
    }
}
