@import "../../assets/styles/variables";

.gallery{
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: $base-margin;
    border: 2px solid black;
    width: 100%;    
  }