.flexContainer{
    color: white;
    background-color: black;
    display: flex;

    img {
        object-fit: contain;
        max-height: 50vh;
        margin-right: 20px;

    }

    .modalInfo {
        .statsContainer{
            height: 0px;
            overflow: hidden;   
            transition: height 0.2s ease; 
        }
    }
}
