@import "./assets/styles/typography";
@import "assets/styles/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.router {
    min-height: 0;
}
